*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* letter-spacing: 1px; */
}


.content {
    max-width: 600px;
    margin: 40px auto;
    /* padding: 20px; */
}

:root {
    --primaryColor: #28afb0;
}

.signup{
    display: flex;
    justify-content: center;
}

input{
    padding: 9px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.1s;
  }

input:focus {
    border: 2px solid rgb(161, 161, 161);
}

label{
    display: flex;
    margin-top: 15px;
    margin-bottom: 2px;
    color: rgb(68, 63, 63);
}

.pwd{
    display: flex;
}

/* button{
    background-color: var(--primaryColor);
    color: white;
    border: 1px solid white;
} */

.container {
    position: relative;
    /* Add other styles as needed */
}
  
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* Add other styles as needed */
}

/* NAVIGATION BAR */

nav{
    justify-content: center;
    margin-bottom: 40px;
    
 }

.navbar{
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-self: center;
}

.nav-link{
    font-size: 24px;
    margin-right: 60px;
    /* justify-content: space-between; */
    color: rgb(87, 77, 77);
}

.nav-link:hover{
    color: var(--primaryColor);
    cursor: pointer;
}

.active{
    color: var(--primaryColor);
    font-weight: bolder;
}

.logo{
    color: var(--primaryColor);
    margin-right: 40px;
    font-size: 30px;
    font-family:  calibri;
}




